# Pairing script for VAMP

## 1. Set up

- Load csv file into a dataframe
    - Gender, Location, and Nationality are loaded as categorical
    - The cell below is only when the python script is run locally and not in Google Collab. See next section 1.1
- Initialize variables
    - *teamNumberIndex* keeps track of which team is currently being build
    - *teamSize* is the amount of students in a team
    - *df_teams* will be the dataframe where we save the teams computed.

In [1]:
import math
import pandas as pd
import numpy as np

#The following 3 lines deals with displaying the results neatly
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.width = None 

#Initialize variables
teamNumberIndex = 0
teamSize = 4

#Load the data (This line will fail if script is run on Google Colaboraty, see next section)
df = pd.read_csv('MOCK_DATA.csv', dtype={'Gender' : 'category', 'Location' : 'category', 'Nationality' : 'category'})

#Create a dataframe to store team results
df_teams = pd.DataFrame(columns=['first_name', 'last_name', 'Team'])

#Add a new collumn which keeps track of which student has been put into team so far
df['studentID'] = np.arange(len(df))
#del df['id']

### 1.1 Uploading files to google collab
The previous cell only loads the data using. If the script is run on Google Collab, then it is first necessary to upload the file and then load it into a data frame

In [ ]:
from google.colab import files
#Upload the file
uploaded = files.upload()

In [ ]:
import io
#Load the files into a dataframe
df = pd.read_csv(io.BytesIO(uploaded['MOCK_DATA.csv']), dtype={'Gender' : 'category', 'Location' : 'category', 'Nationality' : 'category'})

## 2. Understand the data

The cells below are commands use to understand the data. For cate

In [2]:
df.Age.describe()

count    100.000000
mean      22.130000
std        2.376888
min       18.000000
25%       20.000000
50%       22.000000
75%       23.000000
max       29.000000
Name: Age, dtype: float64

In [3]:
df['Location'].value_counts()

South west    23
Center        22
South east    20
North west    20
North east    15
Name: Location, dtype: int64

In [4]:
df.Location.describe()

count            100
unique             5
top       South west
freq              23
Name: Location, dtype: object

In [5]:
df.Nationality.describe()

count       100
unique       40
top       China
freq         16
Name: Nationality, dtype: object

## 3. Search for a team
The following were the criteria for a team

- Gender diversity
- Diversity in nationalities
- Student who live live near each other should be paired up

Getting students from the same location is done easily in pandas. The operation is described as removing rows (students) from the dataframe which satisfies a boolean. In other words, only consider a subset of students who are in the same location. The following python line creates a new dataframe with all of the students who are in the same location.

*df_condition = df[df.Location == 'South east']*

The other two conditions is harder to satisfy. An randomized approached will be taken where a user manually checks whether the students randomly matched is 'satisfiable.' If not, then re-run the cell and another set up students will be randomly matched up within the same location.

In [6]:


print("There are {0} student left".format(len(df))) 

df_condition = df[df.Location == 'South east']            

    
#Select 4 random to be put into a group from the new dataframe which includes only students from South east
selectedStudents = np.random.choice(df_condition['studentID'].values, teamSize, replace = False)
team = df.loc[selectedStudents]
print("\n \n Random search gave the following potential team \n")
print(team)

There are 100 student left


 Random search gave the following potential team

     first_name last_name  Gender    Location Nationality  Age  studentID
64  Mariejeanne  Lindmark  Female  South east  Kazakhstan   22         64
46       Lynett   Postans  Female  South east       China   24         46
21         Mari      Jory  Female  South east       China   22         21
20         Boyd     Ingle    Male  South east       China   23         20

## 4. Team creation

If the above team attributes looks acceptable then we will.

- Adds the team of students to our final dataframe containing all of our teams (*df_teams*)
- Remove the team of students from the dataframe object which includes all of the unteamed students

In [7]:
teamNumberIndex = teamNumberIndex + 1

#Remove students from the dataframe containing all of the unteamed students
df = df.drop(selectedStudents)

#Create a new collumn where we denote the team number
team['Team'] = [teamNumberIndex]*teamSize
#Remove uncesserary collumns from the final team output
#team = team.drop(['Gender', 'Nationality', 'Age', 'Location', 'studentID'],axis=1)


#Add the found team to our dataframe containing all of the teams
df_teams = df_teams.append(team)

print("Teams found so far \n ")
print(df_teams)

print("\n \n unteamed students \n ")
print(df)

Teams found so far

     first_name last_name Team  Gender    Location Nationality   Age  \
64  Mariejeanne  Lindmark    1  Female  South east  Kazakhstan  22.0
46       Lynett   Postans    1  Female  South east       China  24.0
21         Mari      Jory    1  Female  South east       China  22.0
20         Boyd     Ingle    1    Male  South east       China  23.0

    studentID
64       64.0
46       46.0
21       21.0
20       20.0


 unteamed students

    first_name   last_name  Gender    Location  \
0        Ellis      Mossop    Male      Center
1        Neale     Millins    Male  South west
2       Leelah    Baudains  Female  North west
3      Mattias      Grimme    Male  North west
4       Lucila     Wornham  Female  South east
5     Christen       Scare  Female  North west
6      Jsandye    Dwelling  Female  North west
7       Tracey      Downey  Female  North east
8        Lukas      Casari    Male      Center
9      Doralia     Siddele  Female      Center
10       Gerik    Addicott    Male      Center
11     Norbert  Cattermoul    Male  South west
12       Katie      Hanner  Female  South west
13  Beauregard  Burkinshaw    Male  North east
14     Coleman      Vannah    Male  North east
15     Robinet      Bastie    Male  South west
16      Jarrod     Parnaby    Male      Center
17      Ginnie       Durno  Female  North west
18      Filmer        Odda    Male  South west
19       Elton     Gripton    Male  North east
22      Delmor      Wankel    Male  North east
23       Symon       Peers    Male  North east
24       Abbie     Fitzroy    Male      Center
25     Maribel     Dawbury  Female  North west
26   Siegfried      Farnin    Male  South east
27     Lyndsay      Layson  Female  North west
28         Ruy    Guillard    Male      Center
29    Adelbert       Boyes    Male      Center
30      Taddeo    Martinon    Male  South west
31    Doralynn    Pretsell  Female  South west
32       Jesse     Lindman    Male  South west
33       Alane    Pakenham  Female  South west
34      Fawnia    Robuchon  Female  South east
35      Darbie      Bertot  Female  North west
36      Vinnie        Keme    Male  South east
37      Pattie  Shackleton  Female  North west
38   Frederico      Truter    Male      Center
39     Justinn      Wittke  Female  South west
40     Filippo   Llewellyn    Male  South east
41    Aloysius    Jepensen    Male  South west
42        Odie      Felder    Male      Center
43     Rosalia      Olfert  Female      Center
44     Blinnie       Crees  Female  North west
45    Cristian     Lawrenz    Male      Center
47   Henrietta     Beceril  Female  North east
48       Roger       Durno    Male  North west
49      Brande    Pearmine  Female  North east
50       Sophi     Furnell  Female  South east
51       Regan      Tungay    Male  South east
52       Davie      Dupree    Male  North east
53       Sibyl      Ambrus    Male  South east
54        Pate  Franceschi    Male  South west
55       Arvin     De Metz    Male  North west
56       Kiley      Huggen    Male      Center
57    Christan        Pohl  Female  South west
58    Teresina      Elcome  Female  North west
59     Brittan   Breadmore  Female  North west
60      Lilith    Wrennall  Female  South west
61      Yancey     Curnick    Male  South west
62      Lindie      Haugen  Female      Center
63      Clemmy     Rubinov  Female  South west
65      Elliot      McGuff    Male  South east
66         Rey     Kingman  Female  North west
67      Allyce   Grimbleby  Female      Center
68         Lia       Brien  Female  South west
69       Linzy      Willas  Female      Center
70    Greggory     Dreinan    Male  South west
71      Anders      Rayner    Male  South east
72    Ricoriki   McCaskell    Male  South east
73        Bart         Sey    Male  North west
74     Celisse    Witchell  Female  South west
75      Salmon         Jee    Male      Center
76      Andeee      McNeil  Female  South west
77       Euell      Wogdon    Male  North east
78     Sauncho       Aslum    Male  North east
79    Clotilda  Camilletti  Female  North east
80      Tomkin       Tatum    Male      Center
81        Dodi    Breewood  Female      Center
82       Berti     Pattlel  Female  South east
83      Chicky     Mushart    Male  North east
84       Janet      Ardron  Female  South west
85       Nigel    McKeever    Male  South east
86        Ebba     Rolston  Female  South east
87     Tamqrah     Donovan  Female      Center
88      Hollie  Thornewell  Female  North east
89        Kora      Sowood  Female  South east
90       Elset    Lelliott  Female  North west
91    Jessalyn    Thickens  Female  South east
92       Agace      Fozard  Female  South west
93       Gerri      Salter  Female  North west
94       Poppy    Sherratt  Female  South west
95    Federica       Quant  Female      Center
96     Talbert     Harring    Male      Center
97  Cassaundra   Grimbleby  Female  North west
98      Melesa    Witcombe  Female  North west
99         Lon       Eteen    Male  North east

                         Nationality  Age  studentID
0                        Philippines   19          0
1                          Indonesia   25          1
2                              Niger   20          2
3                          Indonesia   19          3
4                              Japan   27          4
5                          Indonesia   18          5
6                            Belarus   20          6
7              Palestinian Territory   20          7
8                             Latvia   23          8
9                           Ethiopia   24          9
10                         Indonesia   25         10
11                             China   18         11
12                            Russia   25         12
13                             Benin   22         13
14                            Brazil   23         14
15                            Brazil   19         15
16                             China   20         16
17                              Iran   26         17
18                              Cuba   27         18
19                    Czech Republic   28         19
22  Democratic Republic of the Congo   22         22
23                       Philippines   24         23
24                     United States   22         24
25                         Indonesia   21         25
26                    United Kingdom   21         26
27                            France   21         27
28                             China   24         28
29                            Poland   22         29
30                         Macedonia   22         30
31                         Argentina   23         31
32                            Greece   26         32
33                           Nigeria   22         33
34                            Russia   26         34
35                             China   23         35
36                         Indonesia   25         36
37                          Tanzania   23         37
38                       Philippines   20         38
39                          Ethiopia   19         39
40                            Greece   25         40
41                          Portugal   21         41
42                              Cuba   22         42
43                          Botswana   21         43
44                     United States   23         44
45                    Czech Republic   22         45
47                            France   21         47
48                       El Salvador   20         48
49                            Taiwan   20         49
50                          Thailand   21         50
51                             Niger   22         51
52                             China   29         52
53                     United States   22         53
54                          Portugal   21         54
55                             China   21         55
56                            Brazil   24         56
57                             Syria   22         57
58                              Cuba   22         58
59                            Poland   21         59
60                         Indonesia   19         60
61                            Sweden   18         61
62                       Philippines   20         62
63                            Sweden   21         63
65                             Chile   20         65
66                            Sweden   20         66
67                          Zimbabwe   21         67
68                         Indonesia   27         68
69                       El Salvador   25         69
70                             China   20         70
71                             China   21         71
72                       Philippines   19         72
73                          Pakistan   20         73
74                          Portugal   23         74
75                            Poland   23         75
76                             China   29         76
77                             China   21         77
78                         Indonesia   21         78
79                             China   21         79
80            Bosnia and Herzegovina   20         80
81                       North Korea   21         81
82                             China   20         82
83                            Gambia   23         83
84                            France   20         84
85                         Indonesia   24         85
86                     United States   25         86
87                            Greece   23         87
88                     United States   21         88
89                             China   20         89
90                         Indonesia   22         90
91                        Kazakhstan   23         91
92                       Philippines   24         92
93                       Philippines   21         93
94                             Japan   21         94
95                         Indonesia   22         95
96                             Benin   20         96
97                       Netherlands   21         97
98                           Nigeria   25         98
99                          Portugal   23         99

## 5. Output results 
- Output results to an excel file
- Excel file will be posted to a folder called 'results' (the **results** folder is located in the same folder as the jupyter notebook)

In [8]:
df_teams.to_excel("results/teams.xls")

## 6. Conclusion
Re-run section 3 and 4 until all students have been give into a team. If there is uneven amount of students left unteamed, then just group these students manually.